#extends simple_superclass
#def ezio()
<html><head><title>ezio</title></head>
<body>
Here is a string literal from the subclass
<table>
#for $bag in $bags
<tr>
    <td>stuff</td><td>$bag.one</td>
    <td>stuff</td><td>$bag.two</td>
    <td>stuff</td><td>$bag.three</td>
    <td>stuff</td><td>$bag.four</td>
    <td>stuff</td><td>$bag.five</td>
    <td>stuff</td><td>$bag.six</td>
    <td>stuff</td><td>$bag.seven</td>
    <td>stuff</td><td>$bag.eight</td>
    <td>stuff</td><td>$bag.nine</td>
    <td>stuff</td><td>$bag.ten</td>
</tr>
#end for
</table>
</body></html>
#end def

unreachable_statement
$ezio()
