#if $a < $b
OK
#else
NO
#end if

#if $c <= $d
NO
#else
OK
#end if

#if $e == $f
OK
#else
NO
#end if

#if $g != $h
NO
#else
OK
#end if

#if $a > $b
NO
#else
OK
#end if

#if $c >= $d
OK
#else
NO
#end if

#if $i in $j
OK
#else
NO
#end if

#if $k is None
OK
#else
NO
#end if

#if $i is not $j
OK
#else
NO
#end if
