#import sys, os, email
#import sys.os.email
#import os as so
#from os import path
#from email import util, errors
#import bisect


#def ezio()
<html><head><title>ezio</title></head>
<body>
<p>Here is a string literal</p>
<p>And the file for email is: $email.__file__</p>
<p>And the name of this module is: $bisect.__name__</p>
<table>
#for $bag in $bags
<tr>
    <td>stuff</td><td>$bag.one</td>
    <td>stuff</td><td>$bag.two</td>
    <td>stuff</td><td>$bag.three</td>
    <td>stuff</td><td>$bag.four</td>
    <td>stuff</td><td>$bag.five</td>
    <td>stuff</td><td>$bag.six</td>
    <td>stuff</td><td>$bag.seven</td>
    <td>stuff</td><td>$bag.eight</td>
    <td>stuff</td><td>$bag.nine</td>
    <td>stuff</td><td>$bag.ten</td>
</tr>
#end for
</table>
</body></html>
#end def

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"  "http://www.w3.org/TR/html4/loose.dtd">
$ezio()
