#import sys, os
#import os as so
#from os import path
#from email import utils, errors
#from email.mime import image
#import email.mime.image
#import bisect
#from email import charset as goat
#from xml.dom import minidom as sheep

## just test that we imported the right things from the right places
$bisect.__file__
$so.__file__
$os.__file__
$path.__file__
$utils.__file__
$errors.__file__
$image.__file__
$email.mime.image.__file__
$email.__file__
$goat.__file__
$sheep.__file__
