<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"  "http://www.w3.org/TR/html4/loose.dtd">
before_the_block
#block ezio
outer_block
$asdf
#block ezio_nested
inner_block
$bsdf
#end block
#end block
