## Test one-lineing of conditionals
I'm#if not $true_obj# NO#else# OK#end if#
I'm #if $false_obj#NO#else#OK#end if#
The alphabet begins with#for letter in sequence# $letter#end for#
#if $true_obj#$interpolant#end if# is interpolated
I'm #if $false_obj#NO#else#OK#end if# still
Success!
