#import os

#def my_function()
self.bar still $self.bar
self.counter now $self.counter
#end def

self.bar $self.bar
self.counter $self.counter
## test calling native functions as attribute accesses on the `self` name:
$self.my_function()

asdf $asdf
