#def myblock(x)
    i'm in a block
    $asdf
    #for $a in $b
        $a
    #end for
    #for a in $c.keys()
        $a
    #end for
    $x
#end def

#def myfunc(a, callable_thing)
    check it out
    $a
    moar
    $callable_thing()($asdf)
#end def

#def ezio()
    startit
    $myblock($asdf)
    <td>stuff</td><td>$$bag.five</td>
    $myfunc(asdf, f)
#end def

<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"  "http://www.w3.org/TR/html4/loose.dtd">
$ezio()
